body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding : 10px 5px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  
}

.content {
  background: #e3f4ff;
}

.title,.content,.button-container{
  padding: 10px 3px;
  margin: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px 140px;
}

button {
  background: white;
  border: 1px solid #eee;
}

